<div style="max-width: 800px; margin: 0 auto; background: #f4f7fb; padding: 30px; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; color: #333;">
    
    <!-- Logo -->
    <div style="text-align: center; margin-bottom: 30px;">
        <img src="https://worntechonline.shop/static/web/images/worntech2.png" alt="Worntech Logo" style="max-width: 350px; height: auto;">
    </div>

    <!-- Subject -->
    <h2 style="color: #003366; text-align: center; font-size: 28px; margin-bottom: 15px; font-weight: bold;">Password Reset Request</h2>

    <!-- Message Content -->
    <p style="font-size: 16px; line-height: 1.6; text-align: justify; margin-bottom: 20px; color: #333;">
        Hello {{ user.first_name }} {{ user.last_name }},<br><br>
        We received a request to reset the password for your Worntech Online account. Please click the link below to reset your password.<br><br>
        
        <a href="http://127.0.0.1:8000/reset/{{ uid }}/{{ token }}/" style="color: #00c853; font-weight: bold;">Click here to reset your password</a><br><br>
        
        If you did not request this change, please ignore this email.<br><br>
        
        Best regards,<br>
        Worntech Online Team
    </p>

    <hr style="border: 0; height: 1px; background: #ddd; margin: 20px 0;">

    <!-- Contact Information -->
    <p style="text-align: center; font-size: 14px; color: #003366;">
        Visit our website <a href="https://worntechonline.shop/" style="color: #00c853; text-decoration: none; font-weight: bold;">Worntech Online</a>
    </p>
</div>
