<div style="max-width: 800px; margin: 0 auto; background: #f4f7fb; padding: 30px; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; color: #333;">
    
    <!-- Logo -->
    <div style="text-align: center; margin-bottom: 30px;">
        <img src="https://worntechonline.shop/static/web/images/worntech2.png" alt="Worntech Logo" style="max-width: 350px; height: auto;">
    </div>

    <!-- Subject -->
    <h2 style="color: #003366; text-align: center; font-size: 28px; margin-bottom: 15px; font-weight: bold;">{{ subject }}</h2>

    <!-- Message Content -->
    <p style="font-size: 16px; line-height: 1.6; text-align: justify; margin-bottom: 20px; color: #333;">
        Hello {{ first_name }} {{ last_name }},<br><br>
        Congratulations! You have successfully created an account with Worntech Online, and we are thrilled to have you on board. We are excited to provide you with access to our platform, where you can explore a broad range of services, including buying and selling digital products. Whether you are purchasing or listing products, we are committed to providing you with a smooth, secure, and enjoyable experience every step of the way.<br><br>
        
        Should you encounter any issues or have any questions, please don't hesitate to reach out to our dedicated customer care team. You can easily contact us through the live chat feature on our website, or use the contact details provided below. We’re always here to assist you and ensure that you get the most out of your Worntech Online experience.<br><br>
        
        For your reference, here are your login details:<br>
        <strong>Your Username:</strong> {{ email }}<br>
        <strong>Your Password:</strong> {{ password }}<br><br>
        
        Once again, welcome to the Worntech Online community! We hope you enjoy our services and make the most of everything we have to offer. If you need anything at all, we’re just a message away!
    </p>
    

    <!-- Footer -->
    <p style="text-align: center; font-size: 14px; color: #003366; margin-top: 30px;">
        <strong>Best regards,</strong><br>
        <span style="color: #00c853; font-weight: bold;">Worntech Online Team</span>
    </p>

    <!-- Divider -->
    <hr style="border: 0; height: 2px; background: #003366; margin: 20px 0;">

    <!-- Contact Information -->
    <p style="text-align: center; font-size: 14px; color: #003366;">
        Visit our website <a href="https://worntechonline.shop/" style="color: #00c853; text-decoration: none; font-weight: bold;">Worntech Online</a>
    </p>
    <p style="text-align: center; font-size: 14px; color: #003366;">
        Need help? Contact us at <a href="mailto:worntechservices@gmail.com" style="color: #00c853; text-decoration: none; font-weight: bold;">worntechservices@gmail.com</a>
    </p>
</div>
